# Sql uploading the file

In [ ]:
import mysql.connector
import pandas as pd

connection=mysql.connector.connect(
    host="localhost",
    user="root",
    password="0123456789"

)
mycursor=connection.cursor()
mycursor.execute("create database Guvi_proj2")
mycursor.execute("show databases")

for i in mycursor:
    print(i)

In [ ]:
top10=pd.read_csv(r"C:\Users\Test\Downloads\Guvi project 2\top10_volatile.csv")

In [ ]:
stocks=mysql.connector.connect(
    host="localhost",
    user="root",
    password="0123456789",
    database="Guvi_proj2"
)

In [42]:
mycursor=stocks.cursor()

mycursor.execute("create table top10_vol (Ticker varchar(50) primary key,Volatility float)")

stocks.commit()
for _, rs in top10.iterrows():
    Ticker = rs[0]
    Volatility = rs[1]

    if (pd.isna(Ticker) or pd.isna(Volatility) or str(Ticker).strip()==''):
        continue

    try:
        query = "INSERT INTO top10_vol (Ticker, Volatility) VALUES (%s, %s)"
        mycursor.execute(query, (Ticker, Volatility))
    except mysql.connector.IntegrityError as e:
        print(f"Skipping duplicate or error for Ticker={Ticker}: {e}")

stocks.commit()

C:\Users\Test\AppData\Local\Temp\ipykernel_11368\178241346.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Ticker = rs[0]
C:\Users\Test\AppData\Local\Temp\ipykernel_11368\178241346.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Volatility = rs[1]

In [11]:
top10.head()

       Ticker  Volatility
0  ADANIGREEN    0.028550
1  ADANIPORTS    0.025983
2         BEL    0.023243
3       TRENT    0.023034
4        ONGC    0.022208

In [26]:
cum_ret_df=pd.read_csv(r"C:\Users\Test\Downloads\Guvi project 2\cumul_return.csv")

In [28]:
cum_ret_df.head()

       Ticker  CumulativeReturn
0       TRENT          2.230926
1         BEL          1.017601
2         M_M          0.959770
3  BAJAJ-AUTO          0.890112
4      AIRTEL          0.695990

In [41]:
mycursor.execute("create table cum_return (Ticker varchar(50) primary key,Cumulative_return float)")

stocks.commit()
for _, rs in top10.iterrows():
    Ticker = rs[0]
    cum_ret = rs[1]

    if (pd.isna(Ticker) or pd.isna(cum_ret) or str(Ticker).strip()==''):
        continue

    try:
        query = "INSERT INTO cum_return (Ticker, Cumulative_return) VALUES (%s, %s)"
        mycursor.execute(query, (Ticker, cum_ret))
    except mysql.connector.IntegrityError as e:
        print(f"Skipping duplicate or error for Ticker={Ticker}: {e}")

stocks.commit()

C:\Users\Test\AppData\Local\Temp\ipykernel_11368\3752378047.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Ticker = rs[0]
C:\Users\Test\AppData\Local\Temp\ipykernel_11368\3752378047.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cum_ret = rs[1]

In [34]:
sect_perf=pd.read_csv(r"C:\Users\Test\Downloads\Guvi project 2\sector_wise.csv")

In [36]:
sect_perf.head(2)

      sector  Yearly Return
0  RETAILING       1.133054
1    DEFENCE       1.017601

In [40]:
mycursor.execute("create table sector_perf (Sector varchar(50) primary key,Yearly_return float)")

stocks.commit()
for _, rs in top10.iterrows():
    Sector = rs[0]
    year_ret = rs[1]

    if (pd.isna(Sector) or pd.isna(year_ret) or str(Sector).strip()==''):
        continue

    try:
        query = "INSERT INTO sector_perf (Sector, Yearly_return) VALUES (%s, %s)"
        mycursor.execute(query, (Sector, year_ret))
    except mysql.connector.IntegrityError as e:
        print(f"Skipping duplicate or error for Sector={Sector}: {e}")

stocks.commit()

C:\Users\Test\AppData\Local\Temp\ipykernel_11368\2997331480.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Sector = rs[0]
C:\Users\Test\AppData\Local\Temp\ipykernel_11368\2997331480.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  year_ret = rs[1]

In [ ]:
top_gainers=pd.read_csv(r"C:\Users\Test\Downloads\Guvi project 2\top_gainers.csv")

In [48]:
top_gainers.head(2)

  Ticker  Yearly Return
0  TRENT       2.230926
1    BEL       1.017601

In [49]:
mycursor.execute("create table top_10_gainer (Ticker varchar(50) primary key,Yearly_return float)")

stocks.commit()
for _, rs in top10.iterrows():
    Ticker = rs[0]
    year_ret = rs[1]

    if (pd.isna(Ticker) or pd.isna(year_ret) or str(Ticker).strip()==''):
        continue

    try:
        query = "INSERT INTO top_10_gainer (Ticker, Yearly_return) VALUES (%s, %s)"
        mycursor.execute(query, (Ticker, year_ret))
    except mysql.connector.IntegrityError as e:
        print(f"Skipping duplicate or error for Sector={Ticker}: {e}")

stocks.commit()

C:\Users\Test\AppData\Local\Temp\ipykernel_11368\1043117901.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Ticker = rs[0]
C:\Users\Test\AppData\Local\Temp\ipykernel_11368\1043117901.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  year_ret = rs[1]

In [50]:
mycursor.execute("create table top_10_loser (Ticker varchar(50) primary key,Yearly_return float)")

stocks.commit()
for _, rs in top10.iterrows():
    Ticker = rs[0]
    year_ret = rs[1]

    if (pd.isna(Ticker) or pd.isna(year_ret) or str(Ticker).strip()==''):
        continue

    try:
        query = "INSERT INTO top_10_loser (Ticker, Yearly_return) VALUES (%s, %s)"
        mycursor.execute(query, (Ticker, year_ret))
    except mysql.connector.IntegrityError as e:
        print(f"Skipping duplicate or error for Sector={Ticker}: {e}")

stocks.commit()

C:\Users\Test\AppData\Local\Temp\ipykernel_11368\90951615.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Ticker = rs[0]
C:\Users\Test\AppData\Local\Temp\ipykernel_11368\90951615.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  year_ret = rs[1]